*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --sf-bg: #1d2d3c;
    --sf-card: #112030;
    --sf-header: #06131f;
    --sf-icon: #18d65f;
    --sf-light: #FFFFFF;
}

body {
    background-color: var(--sf-bg);
}

.header {
    background-color: var(--sf-header);
}

.header img {
    width: 50px;
    aspect-ratio: 1/1;
    margin: 1.5rem;
    filter: brightness(0) saturate(100%) invert(11%) sepia(100%) saturate(7174%) hue-rotate(106deg) brightness(104%) contrast(118%);
}

.container_card {
    width: 80%;
    margin: auto;
}

.row_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem;
}

.card {
    display: flex;
    background-color: var(--sf-card);
    width: 340px;
    margin: 1.5rem;
    cursor: pointer;
}

.card:hover {
    border: 1px solid var(--sf-icon);
}

.card_img {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.card_img img {
    display: flex;
    justify-content: center;
    width: 180px;
    aspect-ratio: 1/1;
}

.card_text {
    color: var(--sf-light);
}

button {
    color: var(--sf-light);
}

.disco_detail {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(51, 64, 75, 0.9);
    width: 90vW;
    height: 90vh;
}